<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your bussiness with us</p>
            <div class="row">
                <!--left side start-->
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img src="/images/man.png" class="img-fluid" alt="herosection">
                    </figure>
                </div>
                <!--left side div end-->
                <!--right side div start-->
                <div class="col-md-6 col-12 hero-text">
                    <h1>we are the professional developer</h1>
                    <p>We are the team of <span class="bold-style"> professional developer</span>we are here to help you feel free to ask👍👍</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <!--right side div end-->

            </div>
        </div>
    </div>
</div>