<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto footerstyle">
                    <footer class="text-center">
                        <h1>Copyright &copy; All Right Reserved</h1>
                        <h2>Made by MANISH PATEL</h2>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>