<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your bussiness with us</p>
            <div class="row servicepara">
                <div class="col-md-6 mx-auto col-12 servicepara">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores repudiandae eligendi ducimus quaerat laboriosam molestias aliquid accusantium vel officia doloremque. Amet esse odit quae accusantium? Quis voluptate incidunt harum excepturi itaque aspernatur porro sint quo veniam earum? Temporibus quidem consequuntur iusto, nisi nobis, pariatur voluptas repellendus nihil fugiat soluta possimus.</p>
                </div>
                <div class="col-md-6 mx-auto col-12">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ullam minus aperiam reprehenderit voluptatem quod, sit quos ducimus velit deleniti, fuga ex. Temporibus corrupti fugit odit accusantium asperiores eos. Expedita recusandae fuga laborum corporis amet ipsa doloremque incidunt? Nisi vitae sunt exercitationem quis. Sint pariatur sunt iure, ipsam explicabo modi?</p>
                </div>
            </div>
        </div>
    </div>
</div>
